# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\77026\Desktop\Program Engineering. IITU 2019-2023\3 course\2 semester\Business Component and Web-services Development (Java EE)\Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
